{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Event Detail -->
    <div class="event-details">
        <!-- Event Image -->
        {% if event.event_image %}
        <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="max-width: 100%; height: auto;">
      <!-- {% else %}
        <p>No image available</p> -->
      {% endif %}
        
        <!-- Event Title and Date -->
        <h1 class="mb-4" style="font-size: 1.5rem; color: #4e73df; font-weight: bold; line-height: 1.6; margin-bottom: 20px;">{{ event.title }}</h1>
        <p class="text-muted mb-4">Date: {{ event.date|date:"F d, Y" }}</p>
        
        <!-- Event Description -->
        <p style="color: #333; text-decoration: none; font-size:1.1rem;">{{ event.description }}</p>
        
        <!-- Action Buttons -->
        <div class="mt-4">
            <a href="{% url 'calendar-view' %}" class="btn btn-primary">Back to Calendar</a>
            {% if user.is_staff %}
            <a href="{% url 'event-update' event.pk %}" class="btn btn-info">Edit Event</a>
            <a href="{% url 'event-delete' event.pk %}" class="btn btn-danger">Delete Event</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
