{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
<article class="media content-section" style="padding: 20px; border: 1px solid #ddd; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden;">
    <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }}'s profile image" style="width: 60px; height: 60px; margin-right: 15px; object-fit: cover;">
    
    <div class="media-body">
        <div class="article-metadata" style="margin-bottom: 10px;border-bottom: 1px solid #ddd;">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}" style="font-weight: bold; color: #007bff; text-decoration: none;">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <img src="{% if post.post_image %}{{ post.post_image.url }}{% else %}default_image_url{% endif %}" alt="{{ post.title }}" style="width: 100%; height: auto; border-radius: 10px; margin-bottom: 15px; object-fit: cover;">
        <h2 style="margin: 0;"><a class="article-title" href="{% url 'post-detail' post.id %}" style="color: #333; text-decoration: none; font-size: 1.5em;">{{ post.title }}</a></h2>
        <p class="article-content" style="margin-top: 10px; color: #555;">{{ post.content|truncatewords:20 }}</p>
        <a href="{% url 'post-detail' post.id %}" class="btn btn-info btn-sm" style="padding: 5px 10px; font-size: 0.875rem; margin-right: 10px;">Read More</a>
    </div>
</article>
{% endfor %}

<!-- Pagination -->
{% if is_paginated %}
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1" style="margin: 0 5px;">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}" style="margin: 0 5px;">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
             <a class="btn btn-info mb-4" href="?page={{ num }}" style="margin: 0 5px;">{{ num }}</a>
        {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}" style="margin: 0 5px;">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}" style="margin: 0 5px;">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}" style="margin: 0 5px;">Last</a>
    {% endif %}
  </div>
{% endif %}

{% endblock content %}
